GUI/Service References/StationService/StationManagment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StationManagment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/S/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/S/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/S/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Models" />
      <xsd:import schemaLocation="http://localhost:8080/S/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStationManagment_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_AllStations_InputMessage">
    <wsdl:part name="parameters" element="tns:AllStations" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_AllStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_ChangeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStation" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_ChangeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_ChangeStation2_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStation2" />
  </wsdl:message>
  <wsdl:message name="IStationManagment_ChangeStation2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStation2Response" />
  </wsdl:message>
  <wsdl:portType name="IStationManagment">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationManagment/Add" message="tns:IStationManagment_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationManagment/AddResponse" message="tns:IStationManagment_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationManagment/AllStations" message="tns:IStationManagment_AllStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationManagment/AllStationsResponse" message="tns:IStationManagment_AllStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationManagment/ChangeStation" message="tns:IStationManagment_ChangeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationManagment/ChangeStationResponse" message="tns:IStationManagment_ChangeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStation2">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationManagment/ChangeStation2" message="tns:IStationManagment_ChangeStation2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationManagment/ChangeStation2Response" message="tns:IStationManagment_ChangeStation2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStationManagment" type="tns:IStationManagment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IStationManagment/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllStations">
      <soap:operation soapAction="http://tempuri.org/IStationManagment/AllStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStation">
      <soap:operation soapAction="http://tempuri.org/IStationManagment/ChangeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStation2">
      <soap:operation soapAction="http://tempuri.org/IStationManagment/ChangeStation2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationManagment">
    <wsdl:port name="BasicHttpBinding_IStationManagment" binding="tns:BasicHttpBinding_IStationManagment">
      <soap:address location="http://localhost:8080/S/Station" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>