GUI/Service References/ConnectionService/ConnectionManagment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectionManagment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/C/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/C/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/C/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Models" />
      <xsd:import schemaLocation="http://localhost:8080/C/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectionManagment_AddNewConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewConnection" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_AddNewConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_UpdateConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnection" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_UpdateConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_MakeArchival_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeArchival" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_MakeArchival_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeArchivalResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_AddNewConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewConnections" />
  </wsdl:message>
  <wsdl:message name="IConnectionManagment_AddNewConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewConnectionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectionManagment">
    <wsdl:operation name="AddNewConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionManagment/AddNewConnection" message="tns:IConnectionManagment_AddNewConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionManagment/AddNewConnectionResponse" message="tns:IConnectionManagment_AddNewConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionManagment/Find" message="tns:IConnectionManagment_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionManagment/FindResponse" message="tns:IConnectionManagment_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionManagment/UpdateConnection" message="tns:IConnectionManagment_UpdateConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionManagment/UpdateConnectionResponse" message="tns:IConnectionManagment_UpdateConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeArchival">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionManagment/MakeArchival" message="tns:IConnectionManagment_MakeArchival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionManagment/MakeArchivalResponse" message="tns:IConnectionManagment_MakeArchival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewConnections">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionManagment/AddNewConnections" message="tns:IConnectionManagment_AddNewConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionManagment/AddNewConnectionsResponse" message="tns:IConnectionManagment_AddNewConnections_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectionManagment" type="tns:IConnectionManagment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewConnection">
      <soap:operation soapAction="http://tempuri.org/IConnectionManagment/AddNewConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IConnectionManagment/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConnection">
      <soap:operation soapAction="http://tempuri.org/IConnectionManagment/UpdateConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeArchival">
      <soap:operation soapAction="http://tempuri.org/IConnectionManagment/MakeArchival" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewConnections">
      <soap:operation soapAction="http://tempuri.org/IConnectionManagment/AddNewConnections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionManagment">
    <wsdl:port name="BasicHttpBinding_IConnectionManagment" binding="tns:BasicHttpBinding_IConnectionManagment">
      <soap:address location="http://localhost:8080/C/Connection" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>