GUI/Service References/ConnectionService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/C/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Models" />
  <xs:element name="AddNewConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="departureStation" nillable="true" type="q1:Station" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="arrivalStation" nillable="true" type="q2:Station" />
        <xs:element minOccurs="0" name="valueHour" type="xs:int" />
        <xs:element minOccurs="0" name="valueMinute" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="departure" nillable="true" type="q3:Station" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="arrival" nillable="true" type="q4:Station" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="hour" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="FindResult" nillable="true" type="q5:ArrayOfConnectionDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="cd" nillable="true" type="q6:ConnectionDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeArchival">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="cd" nillable="true" type="q7:ConnectionDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeArchivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeArchivalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DomainModel.Models" minOccurs="0" name="connectionDefinition" nillable="true" type="q8:ConnectionDefinition" />
        <xs:element minOccurs="0" name="value" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="h" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewConnectionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>