GUI/Service References/ReservationService/ReservationManagment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationManagment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/R/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/R/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/R/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainModel.Models" />
      <xsd:import schemaLocation="http://localhost:8080/R/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationManagment_DepartureStations_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartureStations" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_DepartureStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartureStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_ArrivalStations_InputMessage">
    <wsdl:part name="parameters" element="tns:ArrivalStations" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_ArrivalStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArrivalStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:FindConnection" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindEmail" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_MakeReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_MakeReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IReservationManagment_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationManagment">
    <wsdl:operation name="DepartureStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/DepartureStations" message="tns:IReservationManagment_DepartureStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/DepartureStationsResponse" message="tns:IReservationManagment_DepartureStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArrivalStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/ArrivalStations" message="tns:IReservationManagment_ArrivalStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/ArrivalStationsResponse" message="tns:IReservationManagment_ArrivalStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/FindConnection" message="tns:IReservationManagment_FindConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/FindConnectionResponse" message="tns:IReservationManagment_FindConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/FindEmail" message="tns:IReservationManagment_FindEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/FindEmailResponse" message="tns:IReservationManagment_FindEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/FindUser" message="tns:IReservationManagment_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/FindUserResponse" message="tns:IReservationManagment_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/MakeReservation" message="tns:IReservationManagment_MakeReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/MakeReservationResponse" message="tns:IReservationManagment_MakeReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationManagment/AddUser" message="tns:IReservationManagment_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationManagment/AddUserResponse" message="tns:IReservationManagment_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationManagment" type="tns:IReservationManagment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DepartureStations">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/DepartureStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArrivalStations">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/ArrivalStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindConnection">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/FindConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEmail">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/FindEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IReservationManagment/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationManagment">
    <wsdl:port name="BasicHttpBinding_IReservationManagment" binding="tns:BasicHttpBinding_IReservationManagment">
      <soap:address location="http://localhost:8080/R/Reservation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>